<table>
<tr>
    <td>
        <a class="explore-title" href= "/travel_posts">Memories</a>
    </td>
    <td>       
        <div data-scroll-container>
            <section data-scroll-section>
                <div class="main-title">  
                    <h2 data-scroll data-scroll-speed="2" data-scroll-section data-scroll-position="top">C</h2>
                    <h2 data-scroll data-scroll-speed="-1" data-scroll-section data-scroll-position="top">R</h2>
                    <h2 data-scroll data-scroll-speed="4" data-scroll-section data-scroll-position="top">E</h2>
                    <h2 data-scroll data-scroll-speed="-2" data-scroll-section data-scroll-position="top">A</h2>
                    <h2 data-scroll data-scroll-speed="" data-scroll-section data-scroll-position="top">T</h2>
                    <h2 data-scroll data-scroll-speed="2" data-scroll-section data-scroll-position="top">E</h2>
                </div>
            </section>   
        </div>
    </td>
    <td>
        <a class="explore-title" href= "/travel_suggestions">Explore</a>
    </td>
</tr>
</table>
<div class="create-form">
    <form action="/travel_posts" method="post">
        <div class="col">
            <label for="">Location</label>
            <input id="location" name="location" type="text">
        </div>
        <div class="col">
            <label for"">Description</label>
            <input id="description-input" name="description" type="text">
        </div>
        <div class="col">
            <button class="button">Post</button>
        </div>
    </form>
</div>
<table>
    <tr>
        <td>
            <a class="create" href= "/create">Create</a>
        </td>
        <td>
            <a class="explore" href= "/travel_suggestions">Explore</a>
        </td>
        <td>
            <a class="home" href= "/">Home</a>
        </td>
    </tr>
</table>