
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>CULTURE</h2>
    <a class="title-button" href= "/travel_suggestions">Explore</a>
        <div class="container">
            <p class="location"> <%= culture["location"] %></p>
            <div>
            <p class="description"> <%= culture["description"] %></p>
            </div>
            <div>
            <p> <%= culture["image_url"] %></p>
        </div>

</body>
</html>