
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="sub">EVENTS</h1>
    <a class="title-button" href= "/travel_suggestions">Explore</a>
   
        <div class="container">
            <p class="location"> <%= events["location"] %></p>
            <div>
            <p class="description"> <%= events["description"] %></p>
            </div>
            <div>
            <p> <%= events["image_url"] %></p>
        </div>

</body>
</html>