<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap" rel="stylesheet">
</head>
<body class="landing">
    <div class="title-container">
        <h1 class="title">MEMORY CAPSULE<hr></h1>
    </div>
    <div class="sub-container">
        <div>
            <h2 class="main-sub"> PRESERVING PRECIOUS LITTLE MOMENTS IN TIME <h2>
        </div>
    </div>
    <div class="login-buttons">
        <div>
            <form action="/login" method="get">
            <button class="main-button">Login</button>
            </form>
        </div>
        <div>
            <form action="/sign-up" method="get">
            <button class="main-button">Sign-up</button>
            </form>
        </div>
    </div>
    <div class="landing-section">
    </div>
</body>
</html>