
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <table>
        <tr>
            <td>
                <a class="explore-title" href= "/create">Create</a>
            </td>
            <td>       
                <div data-scroll-container>
                    <section data-scroll-section>
                        <div class="main-title">  
                            <h2 data-scroll data-scroll-speed="2" data-scroll-section data-scroll-position="top">M</h2>
                            <h2 data-scroll data-scroll-speed="-1" data-scroll-section data-scroll-position="top">E</h2>
                            <h2 data-scroll data-scroll-speed="4" data-scroll-section data-scroll-position="top">M</h2>
                            <h2 data-scroll data-scroll-speed="-2" data-scroll-section data-scroll-position="top">O</h2>
                            <h2 data-scroll data-scroll-speed="" data-scroll-section data-scroll-position="top">R</h2>
                            <h2 data-scroll data-scroll-speed="2" data-scroll-section data-scroll-position="top">I</h2>
                            <h2 data-scroll data-scroll-speed="-1" data-scroll-section data-scroll-position="top">E</h2>
                            <h2 data-scroll data-scroll-speed="6" data-scroll-section data-scroll-position="top">S</h2>
                        </div>
                    </section>   
                </div>
            </td>
            <td>
                <a class="explore-title" href= "/travel_suggestions">Explore</a>
            </td>
        </tr>
    </table>

    <% travel_posts.each do |travel_post| %>
        <div class="travel-posts">
            <div class="location">
                <p class="location"> <%= travel_post["location"] %></p>
            </div>
            <div  class="description">
                <p> <%= travel_post["description"] %></p>
            </div>
            <div>
                <form action="/travel_post" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <input type="hidden" name="id" value="<%= travel_post["id"] %>">
                    <button class="button">Remove</button>
                </form>
            </div>
            <div>
                <a class="update" href= "/update/<%= travel_post['id'] %>">Update</a>
            </div>
        </div>
    <% end %>


    <table>
        <tr>
            <td>
                <a class="create" href= "/create">Create</a>
            </td>
            <td>
                <a class="explore" href= "/travel_suggestions">Explore</a>
            </td>
            <td>
                <a class="home" href= "/">Home</a>
            </td>
        </tr>
    </table>
</body>
</html>

