<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="sessions">
    <table>
        <tr>
            <td>       
                <div data-scroll-container>
                    <section data-scroll-section>
                        <div class="main-title">  
                            <h2 data-scroll data-scroll-speed="2" data-scroll-section data-scroll-position="top">S</h2>
                            <h2 data-scroll data-scroll-speed="-1" data-scroll-section data-scroll-position="top">I</h2>
                            <h2 data-scroll data-scroll-speed="4" data-scroll-section data-scroll-position="top">G</h2>
                            <h2 data-scroll data-scroll-speed="-2" data-scroll-section data-scroll-position="top">N</h2>
                            <h2 data-scroll data-scroll-speed="" data-scroll-section data-scroll-position="top">U</h2>
                            <h2 data-scroll data-scroll-speed="2" data-scroll-section data-scroll-position="top">P</h2>
                        </div>
                    </section>   
                </div>
            </td>
        </tr>
        </table>
        <div class= "session-form">
            <form action="/sign-up" method="post">
                <label for="">Name</label>
                <input class="input" name="name" type="text">
                <label for="">Email</label>
                <input class="input" name="email" type="text">
                <label for="">Password</label>
                <input class="input" name="password" type="password">
                <button class="button">Sign-up</button>
            </form>
        </div>
        <table class="login-table">
        <tr>
            <td>
                <a class="login-home" href= "/">Home</a>
            </td>
        </tr>
        </table>  
</body>
</html>


